<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProtonVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProtonVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <enforceFIPSPolicy enabled="false" />
    </runtime>

    <userSettings>
        <ProtonVPN.Properties.Settings>
            <setting name="OpenvpnConfigEtag" serializeAs="String">
                <value />
            </setting>
            <setting name="OvpnProtocol" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="StartOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UseDnsLeakProtection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Profiles" serializeAs="String">
                <value />
            </setting>
            <setting name="SecureCore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value />
            </setting>
            <setting name="AppFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Uid" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCustomDns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KillSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="SidebarMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Latitude" serializeAs="String">
                <value />
            </setting>
            <setting name="Longitude" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Isp" serializeAs="String">
                <value />
            </setting>
            <setting name="Country" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="VpnPlanName" serializeAs="String">
                <value />
            </setting>
            <setting name="VpnPlan" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxTier" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Delinquent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxConnect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Services" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QuickConnect" serializeAs="String">
                <value />
            </setting>
            <setting name="EarlyAccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WelcomeModalShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnboardingStep" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppStartCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SidebarTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitTunnelingBlockApps" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitTunnelExcludeIps" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsSelectedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitTunnelingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitTunnelMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SplitTunnelingAllowApps" serializeAs="String">
                <value />
            </setting>
            <setting name="UserSettingsMigrated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserSettingsVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="UserProfiles" serializeAs="String">
                <value />
            </setting>
            <setting name="UserQuickConnect" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAutoConnect" serializeAs="String">
                <value />
            </setting>
            <setting name="UserUid" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="UserRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="UserVpnPlan" serializeAs="String">
                <value />
            </setting>
            <setting name="UserMaxTier" serializeAs="String">
                <value />
            </setting>
            <setting name="UserDelinquent" serializeAs="String">
                <value />
            </setting>
            <setting name="UserMaxConnect" serializeAs="String">
                <value />
            </setting>
            <setting name="UserServices" serializeAs="String">
                <value />
            </setting>
            <setting name="UserVpnPlanName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserWelcomeModalShown" serializeAs="String">
                <value />
            </setting>
            <setting name="UserOnboardingStep" serializeAs="String">
                <value />
            </setting>
            <setting name="UserProfileChangesSyncedAt" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="UserSecureCore" serializeAs="String">
                <value />
            </setting>
            <setting name="Ipv6LeakProtection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomDnsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomDnsIps" serializeAs="String">
                <value />
            </setting>
            <setting name="UserCustomDnsEnabled" serializeAs="String">
                <value />
            </setting>
            <setting name="UserCustomDnsIps" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNetShieldMode" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNetShieldEnabled" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="AlternativeApiBaseUrls" serializeAs="String">
                <value />
            </setting>
            <setting name="ActiveAlternativeApiBaseUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="DoHEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitTunnelIncludeIps" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitTunnelingIps" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAnnouncements" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenVpnTcpPorts" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenVpnUdpPorts" serializeAs="String">
                <value />
            </setting>
            <setting name="FeatureNetShieldEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FeatureMaintenanceTrackerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FeaturePollNotificationApiEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaintenanceCheckInterval" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="UserNetShieldEnabledDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserNetShieldModeDefault" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NetworkAdapterType" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPortForwardingEnabled" serializeAs="String">
                <value />
            </setting>
            <setting name="FeaturePortForwardingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotShowPortForwardingConfirmationDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PortForwardingNotificationsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PortForwardingInQuickSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KillSwitchMode" serializeAs="String">
                <value />
            </setting>
            <setting name="UserDoNotShowKillSwitchConfirmationDialog" serializeAs="String">
                <value />
            </setting>
            <setting name="UserDoNotShowEnableSmartProtocolDialog" serializeAs="String">
                <value />
            </setting>
            <setting name="VpnAcceleratorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FeatureVpnAcceleratorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FeatureStreamingServicesLogosEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FeatureSmartReconnectEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartReconnectEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartReconnectNotificationsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAuthenticationPublicKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAuthenticationSecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAuthenticationCertificatePem" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAuthenticationCertificateExpirationUtcDate"
                serializeAs="String">
                <value />
            </setting>
            <setting name="UserAuthenticationCertificateRefreshUtcDate" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAuthenticationCertificateRequestUtcDate" serializeAs="String">
                <value />
            </setting>
            <setting name="UserCertificationServerPublicKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UseTunAdapter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WireGuardPorts" serializeAs="String">
                <value />
            </setting>
            <setting name="FeatureSmartProtocolWireGuardEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HardwareAccelerationEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserReportAnIssueFormData" serializeAs="String">
                <value />
            </setting>
            <setting name="UserDoNotShowDiscourageSecureCoreDialog" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAllowNonStandardPorts" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAllowNonStandardPortsDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNonStandardPortsToFreeUsers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserModerateNat" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectOnAppStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartOnBoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserCredit" serializeAs="String">
                <value />
            </setting>
            <setting name="UserSubscribed" serializeAs="String">
                <value />
            </setting>
            <setting name="UserHasPaymentMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="FeaturePromoCodeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsToShowRebrandingPopup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DnsCache" serializeAs="String">
                <value />
            </setting>
            <setting name="IsToAutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FeatureNetShieldStatsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FeatureFreeRescopeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserIsFreeRescopeModalDisplayed" serializeAs="String">
                <value />
            </setting>
            <setting name="UserChangeServerAttempts" serializeAs="String">
                <value />
            </setting>
            <setting name="ChangeServerAttemptLimit" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="UserChangeServerAttemptsDefault" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="UserNextChangeServerTimeUtc" serializeAs="String">
                <value />
            </setting>
            <setting name="ChangeServerShortDelayInSeconds" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ChangeServerLongDelayInSeconds" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="IsTelemetryGloballyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastPrimaryApiFailDateUtc" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="UserCreationDateUtc" serializeAs="String">
                <value />
            </setting>
            <setting name="UserStatisticalEvents" serializeAs="String">
                <value />
            </setting>
            <setting name="FeatureFlags" serializeAs="String">
                <value />
            </setting>
        </ProtonVPN.Properties.Settings>
    </userSettings>

    <applicationSettings>
        <ProtonVPN.Properties.Settings>
            <setting name="ServerApiVersion" serializeAs="String">
                <value>1.3</value>
            </setting>
        </ProtonVPN.Properties.Settings>
    </applicationSettings>

    <appSettings>
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
</configuration>